
    
    
    .detail{
    
    position: absolute;
    width: 711px;
    height: 500px;
    left: 377px;
    top: 168px;
    }
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f7f2e4;
    text-align: center;
  }