.main{

position: relative;
width: 1440px;
height: 700px;


}

.box{

position: absolute;
width: 599px;
height: 600px;
left: 421px;
top: 58px;

border: 1px solid #000000;
box-sizing: border-box;

}
.usertext{
position: absolute;
width: 202px;
height: 62px;
left: 720px;
top:200px;

}

.passtext
{
position: absolute;
width: 202px;
height: 62px;
left: 720px;
top: 300px;


}

#username
{
position: absolute;
width: 151px;
height: 31px;
left: 520px;
top: 220px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;

color: #000000;

}

#password 
{
position: absolute;
width: 142px;
height: 38px;
left: 520px;
top: 320px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

color: #000000;
}


.collegelogo
{
position: absolute;
width: 221px;
height: 45px;
left: 200px;
top: 23px;

background: url(logo.png);
}

.button
{
position: absolute;
width: 226px;
height: 57px;
left: 600px;
top: 450px;

background: #FFD662;
}


