// Dark-Blue pink purple pallete
// $background-color: #303A52;
// $background-seperator-color: #574B90;
// $header-color: #9E579D;
$title-color: #FC85AE;


// Dark-Blue Purple Peach Skin
$background-color: #1B262C;
$background-seperator-color: #543864;
$header-color: #FF6363;
// $title-color: #FFBD69;
$dull-white-color: rgb(244, 245, 244);