@import '../../colors/colors';  

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 30px;
}

.cut-corner{
    :before {
        content: '';
        position: absolute;
        top: 0; right: 0;
        border-top: 80px solid white;
        border-left: 80px solid red;
        width: 0;
    }
}

.center-class{
    display: flex;
    align-items: center;    
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

body{

    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    
    .box{

        display: flex;
        align-items: center;    
        justify-content: center;
            
        border: 1px solid #000000;
        box-sizing: border-box;
        
        flex-direction: column;

        .collegelogo
        {
            transform: scale(2);
        }

        .form-container{
            flex-direction: column;
            form{
                table{
                    display: inline-table;
                    tbody{
                        flex-direction: column;
                        border: #000000;
                        margin: 70px;
                        td{
                            padding: 0.25em;
                        }
                    }    
                }
                .submit-button{
                    padding: 0.15em 1em;
                    background: $title-color;
                    border-radius: 10px;
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15x 30px 0 rgba(0,0,0,0.19);
                }        
                margin: 3em 2em;
            }
        }  
    }       
}
    
